<table style="border: brown dotted 4px" class='table table-bordered' >
  <tr>
    <th></th>
    <th>Per 100</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>Calories</td>
    <td><%= nutrition_table.calories %></td>
    <td><%= product.calories %></td>
  </tr>
  <tr>
    <td>Carbs</td>
    <td><%= nutrition_table.carbohydrates %></td>
    <td><%= product.carbohydrates %></td>
  </tr>
  <tr>
    <td>Proteins</td>
    <td><%= nutrition_table.proteins %></td>
    <td><%= product.proteins %></td>
  </tr>
  <tr>
    <td>Fats</td>
    <td><%= nutrition_table.fats %></td>
    <td><%= product.fats %></td>
  </tr>
</table>
